.rendered_html h1 { font-size: 8rem; }
.rendered_html h2 { font-size: 6rem; }
.rendered_html h3 { font-size: 5rem; }
.rendered_html h4 { font-size: 4rem; }
.rendered_html h5 { font-size: 3rem; }
.rendered_html h6 { font-size: 3rem; }

.rendered_html h1,
.rendered_html h2,
.rendered_html h3,
.rendered_html h4,
.rendered_html h5,
.rendered_html h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: rgb(0, 0, 0);
}

.container {
	margin-left: -4%;

}

code {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1em;
}

pre {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1em !important;
}

